@model azureENMN.Models.messagethread

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>messagethread</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.person1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.person1.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MessageThreadID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
